@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --background-color: #e4eae7;
  --card-background-color: #f3f3f375;
  --text-color: #413650ee;
  --shadow-color: #201b2840;
  --border-color: #fefefeaa;
}

[data-theme="dark"] {
  --background-color: #0d0d18;
  --card-background-color: #27274740;
  --text-color: #dbdbf1cd;
  --shadow-color: #11111490;
  --border-color: #48487eaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--background-color);
  background-image:
    radial-gradient(at 0% 30%, #1671e150, transparent 60%),
    radial-gradient(at 40% 20%, #b107c730, transparent 50%),
    radial-gradient(at 100% 10%, #4c4cc820, transparent 40%),
    radial-gradient(at 100% 70%, #0c1a8650, transparent 60%);
  color: var(--text-color);
  font-family: 'Poppins', Helvetica, sans-serif;
  height: 100vh;
}

.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  max-width: 900px;
  animation: fadein 0.5s forwards;

}

input {
  all: unset;
  background-color: var(--card-background-color);
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--shadow-color);
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  font-size: 0.75rem;
  transition: 0.25s ease-in-out;
}

input:focus {
  border: 1px solid var(--text-color);
}

input::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main .weather-now {
  display: flex;
  align-items: center;
  width: 100%;
}

main .weather-now #now-temp {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: clamp(3.5rem, 2rem + 7vw, 6rem);
  line-height: 100%;
}

main .weather-now .location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  padding: 0.25rem 0 1rem;
}

main .weather-now .data-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

main .weather-now .image-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

main .weather-now .image-wrapper img {
  width: 50%;
  min-width: 8rem;
}

main .weather-details {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0 1rem 0;
}

main .weather-details .weather-card {
  background-color: var(--card-background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 25%;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--shadow-color);
  border: 1px solid var(--border-color);
}

main .weather-details .weather-card p:first-of-type {
  font-size: 0.75rem;
}

main .weather-details svg {
  height: 2rem;
  width: auto;
}

.mid-title {
  margin: 1rem 0;
  font-weight: 500;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-background-color);
  padding: 1rem;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--shadow-color);
  border: 1px solid var(--border-color);
}

.forecast-card img {
  width: 50%;
}

.forecast-card p:last-of-type {
  font-size: 0.75rem;
}

.notification {
  margin: 1rem 0;
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}

.swiper {
  max-width: 100%;
  user-select: none;
  cursor: grab;
}

.swiper-pagination-progressbar {
  background-color: transparent;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--border-color);
  height: 1px;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }

  main .weather-details {
    flex-wrap: wrap;
  }
  
  main .weather-details .weather-card {
    width: calc(50% - 0.25rem)
  }
}