@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --background-color: #e4eae7;
  --card-background-color: #f3f3f375;
  --text-color: #413650ee;
  --shadow-color: #201b2840;
  --border-color: #fefefeaa;
}

[data-theme="dark"] {
  --background-color: #0e1014;
  --card-background-color: #2d2d4f50;
  --text-color: #dbdbf1cd;
  --shadow-color: #11111490;
  --border-color: #48487eaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: var(--background-color) url("./assets/backgrounds/background.png") no-repeat top center;
  background-size: 100%;
  font-family: 'Poppins', Helvetica, sans-serif;
  color: var(--text-color);
  height: 100vh;
  transition: all 0.25s linear;
}

.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 900px;
}

input {
  all: unset;
  background-color: var(--card-background-color);
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--shadow-color);
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  font-size: 0.75rem;
}

input:focus {
  border: 1px solid var(--text-color);
}

input::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weather-card .weather-now {
  display: flex;
  align-items: center;
  width: 100%;
}

.weather-card .weather-now #now-temp {
  font-size: 6rem;
  font-family: 'Quicksand', Helvetica, sans-serif;
  line-height: 100%;
}

.weather-card .weather-now .location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  padding: 0.25rem 0 1rem;
}

.weather-card .weather-now .data-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.weather-card .weather-now .image-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.weather-card .weather-now .image-wrapper img {
  width: 50%;
  min-width: 8rem;
}

.weather-card .weather-details {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.weather-card .weather-details > div {
  background-color: var(--card-background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 25%;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--shadow-color);
  border: 1px solid var(--border-color);
}

.weather-card .weather-details > div p:first-of-type {
  font-size: 0.75rem;
}

.weather-card .weather-details svg {
  width: 2rem;
  height: 2rem;
}

.title {
  margin: 1rem 0;
  font-weight: 500;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-background-color);
  padding: 1rem;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem -0.25rem var(--shadow-color);
  border: 1px solid var(--border-color)
}

.forecast-card img {
  width: 50%;
}

.forecast-card p:last-of-type {
  font-size: 0.75rem;
}

.notification {
  margin: 1rem 0;
}

.swiper {
  max-width: 100%;
  user-select: none;
  cursor: grab;
}

.swiper-pagination-progressbar {
  background-color: transparent;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--border-color);
  height: 1px;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }

  .weather-card .weather-now #now-temp {
    font-size: 5rem;
  }

  .weather-card .weather-details {
    flex-wrap: wrap;
  }
  
  .weather-card .weather-details > div {
    width: calc(50% - 0.25rem)
  }
}